/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url('../fonts/inconsolata.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
  margin: 0;
  font-family: 'Inconsolata';
}

p { margin: 0; }

canvas { display: block; width: 100%; height: 100% }

#errorContainer {
  background-color: rgba(100, 100, 100, 0.75);
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 30px);
  border-radius: 3px;
  padding: 5px;
}

#errorContainer:empty {
  display: none;
}

#shadertoyImportContainer {
  position: absolute;
  width: 200px;
  height: 50px;
  border-radius: 3px;
  -webkit-transition: all 0.5s;

  left: calc(50% - 100px);

  padding: 10px;
  background-color: rgba(100,100,100,0.75);
  text-align: center;
  color: white;

  overflow: hidden;
}

#shadertoyImportContainer.hidden {
  position: absolute;
  top: -60px;
  height: 30px;
}

#shadertoyImportContainer.active {
  top: 10px;
}

#shadertoyImportContainer #shadertoyKeyInputContainer {
  position: relative;
  -webkit-transition: all 0.5s;
}

#shadertoyImportContainer #shadertoyKeyInputContainer.hidden {
  left: -110%;
}

#shadertoyImportContainer #shadertoyKeyInputContainer.active {
  left: 0%;
}

#shadertoyImportContainer input[type=text] {
  width: 95%;
  border: 1px solid grey;
  border-radius: 3px;
}

#spinnerContainer {
  position: absolute;
  overflow: hidden;
  width: 100%;
  left: calc(50% - 15px);

  transition: all 0.5s;
}

#spinnerContainer.hidden {
  top: -100%;
}

#spinnerContainer.active {
  top: calc(50% - 15px);
}

.spinner {
  border: 5px solid #f3f3f3;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#shadertoyImportErrorContainer {
  position: absolute;
  top: 10px;
  width: 100%;
  transition: all 0.5s;
}

#shadertoyImportErrorContainer.hidden {
  left: 110%;
}

#shadertoyImportErrorContainer.active {
  left: 0%
}

.input-label {
  margin-bottom: 10px;
}
